.Chat-main__message-list__box
  .Chat-main__message-list__box__info
    .Chat-main__message-list__box__info__name
      = message.user.name
    .Chat-main__message-list__box__info__date
      = message.created_at.strftime("%Y年%m月%d日 %H時%M分")
  .Chat-main__message-list__box__message
    - if message.content.present?
      %p.Message__content
        = message.content
    = image_tag message.image.url, class: 'Message__image' if message.image.present?