.Side-bar
  .Side-bar__user
    .Side-bar__user__info
      %h3.Side-bar__user__info__name yoshi
      %ul.Side-bar__user__info__icon
        %li.Side-bar__user__info__icon__edit
          %a{ href: '#'}
          = icon('far', 'edit', class: 'edit')
          %a{ href: '#'}
          = icon('fas', 'cog', class: 'cog')
  .Side-bar__group-list
    .Side-bar__group-list__group
      .Side-bar__group-list__group__name yoshi
      .Side-bar__group-list__group__message まだメッセージはありません
    .Side-bar__group-list__group
      .Side-bar__group-list__group__name yoshi
      .Side-bar__group-list__group__message まだメッセージはありません